In [16]:
import numpy as np
import pandas as pd

movies = pd.read_csv('../data.csv')
movies.info()
movies.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7668 entries, 0 to 7667
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      7668 non-null   object
 1   rating    7591 non-null   object
 2   genre     7668 non-null   object
 3   year      7668 non-null   int64
 4   released  7666 non-null   object
 5   score     7665 non-null   float64
 6   votes     7665 non-null   float64
 7   director  7668 non-null   object
 8   writer    7665 non-null   object
 9   star      7667 non-null   object
 10  country   7665 non-null   object
 11  budget    5497 non-null   float64
 12  gross     7479 non-null   float64
 13  company   7651 non-null   object
 14  runtime   7664 non-null   float64
dtypes: float64(5), int64(1), object(9)
memory usage: 898.7+ KB

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0

In [11]:
print(movies.isna().sum())
print(len(movies))

name           0
rating        77
genre          0
year           0
released       2
score          3
votes          3
director       0
writer         3
star           1
country        3
budget      2171
gross        189
company       17
runtime        4
dtype: int64
7668

In [19]:
print(movies.country.value_counts())

country
United States                     5475
United Kingdom                     816
France                             279
Canada                             190
Germany                            117
Australia                           92
Japan                               81
India                               62
Italy                               61
Spain                               47
Hong Kong                           45
Ireland                             43
China                               40
South Korea                         35
Denmark                             32
Sweden                              25
New Zealand                         25
Mexico                              22
West Germany                        12
Netherlands                         12
Norway                              12
Iran                                10
Switzerland                         10
Russia                               8
Belgium                              8
South Africa                         8
Argentina                            8
Czech Republic                       8
Taiwan                               7
Hungary                              6
Thailand                             6
Brazil                               6
Israel                               5
Austria                              5
Yugoslavia                           5
Poland                               4
Turkey                               3
Philippines                          3
Finland                              3
Chile                                2
Soviet Union                         2
Vietnam                              2
Portugal                             2
United Arab Emirates                 2
Iceland                              2
Greece                               2
Federal Republic of Yugoslavia       2
Indonesia                            2
Libya                                1
Jamaica                              1
Republic of Macedonia                1
Serbia                               1
Aruba                                1
Colombia                             1
Romania                              1
Kenya                                1
Panama                               1
Malta                                1
Lebanon                              1
Name: count, dtype: int64